In [1]:
import math
from itertools import combinations

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

##### Đây là đoạn code lấy dữ liệu ôn lại kiến thức

###### Lọc data và chuyển về tuple cần thiết

In [2]:
# Cách 1: Lọc data bằng pandas
data = pd.read_csv('student-scores.csv')
set_columns = ['math_score', 'english_score', 'chemistry_score']
data['Average'] = round(data.loc[:, set_columns].mean(axis=1), 2)
data.head()

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score,Average
0,1,Paul,Casey,paul.casey.1@gslingacademy.com,male,False,3,False,27,Lawyer,73,81,93,97,63,80,87,83.33
1,2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,female,False,2,False,47,Doctor,90,86,96,100,90,88,90,92.67
2,3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,False,9,True,13,Government Officer,81,97,95,96,65,77,94,84.67
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,5,False,3,Artist,71,74,88,80,89,63,86,71.33
4,5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,False,5,False,10,Unknown,84,77,65,65,80,74,76,74.33

In [3]:
data_filtered = data[['last_name', 'weekly_self_study_hours','Average']][0:10]
subject_data = [tuple(data_filtered.iloc[i, :]) for i in range(1, len(data_filtered))]
print(subject)

NameError: name 'subject' is not defined

In [ ]:
# Cách 2: Lọc data bằng đọc file
with open('student-scores.txt', 'r') as f:
    data1 = f.read().splitlines()[1:11]
        
f.close()
# data_filtered1 = [data1[i] for i in range(len(data))]
print(data1)

# WEEK 4

Update các phương thức về list và cơ sở dữ liệu

## Day 10 - List, Dictionary, Set, & Tuple Exercises

### Bài 1: Quản lý danh sách môn học
Mô tả đề: Cho một danh sách các tuple subjects, mỗi tuple chứa thông tin về một môn
học gồm (tên môn, số tín chỉ, điểm trung bình). Hãy tạo một từ điển (dict) để lưu
số lượng môn học theo số tín chỉ, một tập hợp (set) chứa các điểm trung bình duy nhất, và
trả về môn học có điểm trung bình cao nhất dưới dạng tuple.

In [ ]:
dict_scores = dict(zip([credit[1] for index, credit in enumerate(subject_data)], [avg[2] for index, avg in enumerate(subject_data)]))
print('Từ điển số tín chỉ: ', dict_scores)
dict_scores[47]

In [ ]:
set_scores = set(dict_scores.values())
print('Tập hợp điểm TB: ', set_scores)

In [ ]:
list_avg = [subject_data[i][2] for i in range(len(subject_data))]
max_index = list_avg.index(max((list_avg)))
print('Điểm số TB cao nhất: ', subject_data[max_index])

### Bài 2: Phân loại số theo tần suất
Mô tả đề: Cho một danh sách số nguyên numbers, hãy tạo một từ điển (dict) lưu tần
suất xuất hiện của mỗi số, một tập hợp (set) chứa các số xuất hiện đúng một lần, và trả về
danh sách các tuple (số, tần suất) được sắp xếp theo tần suất giảm dần

Đây là một dạng bài toán về hash table, được sử dụng để xác định tần suất.

In [29]:
def frequency_dictionary(data):
    """
    Function to verify the frequency of occurrence in list
    :param data: list
    :return: dictionary of data frequency
    """
    freq_dict = {}
    for i in range(len(data)):
        if data[i] in freq_dict:
            freq_dict[data[i]] += 1
        else:
            freq_dict[data[i]] = 1
    return freq_dict

In [30]:
list_data = [1, 2, 2, 3, 1, 4, 5, 6, 5, 3, 6, 5, 7, 4, 4, 4, 5, 1, 10, 9]
print('Từ điển tần suất: ',frequency_dictionary(list_data))

Từ điển tần suất:  {1: 3, 2: 2, 3: 2, 4: 4, 5: 4, 6: 2, 7: 1, 10: 1, 9: 1}

In [ ]:
set_one = set([key for key, value in freq_dict.items() if value == 1])
print('Tập hợp sô xuất hiện một lần: ', set_one)

In [ ]:
freq_dict_sorted = sorted(freq_dict.items(), key=lambda x: x[1], reverse=True)
print('Danh sách tần số giảm dần: ', freq_dict_sorted)

### Bài 3: Tìm cặp giá trị gần nhất
Mô tả đề: Cho một danh sách các tuple pairs, mỗi tuple chứa (giá trị, chỉ số), hãy
tìm cặp hai tuple có giá trị gần nhau nhất (chênh lệch nhỏ nhất). Trả về một tuple chứa chỉ
số của hai phần tử này, một từ điển lưu chênh lệch giữa các cặp, và một tập hợp các giá trị
duy nhất

Cách ghép đôi các phần tử trong dict

![Minh hoa](Ghep_doi_dict.png)

In [20]:
from itertools import combinations

subject_data_sorted = sorted(subject_data, key=lambda x: x[1], reverse=True)

# Tách thư viện có 2 dữ liệu là tên và giá trị học trình để sử dụng
dict_combined = dict(zip([_ for _,i, j in subject_data_sorted], [_ for i,_, j in subject_data_sorted]))

# ghép đôi các key với nhau và values là hiệu của các cặp key này
dict_compared = {(i, j): abs(dict_combined[i] - dict_combined[j]) for i, j in combinations(dict_combined, 2)}

# Sắp xếp từ nhỏ >> lớn để lấy giá trị có hiệu nhỏ nhất 
dict_compared_sorted = dict(sorted(dict_compared.items(), key=lambda x:x[1], reverse=False))

first_item = next(iter(dict_compared_sorted.items()))
print('Từ điển lưu chênh lệch giữa các cặp: ', dict_compared_sorted)
print('Cặp có giá trị chênh lệch nhở nhất: ', first_item)
print('Tập hợp có giá trị duy nhất: ', set(dict_combined.keys()))

Từ điển lưu chênh lệch giữa các cặp:  {('Wade', 'Gutierrez'): 1, ('Gutierrez', 'Smith'): 2, ('Wade', 'Smith'): 3, ('Andrews', 'Campos'): 3, ('Smith', 'Simpson'): 5, ('Simpson', 'Andrews'): 5, ('Gutierrez', 'Simpson'): 7, ('Campos', 'Clark'): 7, ('Short', 'Wade'): 8, ('Wade', 'Simpson'): 8, ('Simpson', 'Campos'): 8, ('Short', 'Gutierrez'): 9, ('Smith', 'Andrews'): 10, ('Andrews', 'Clark'): 10, ('Short', 'Smith'): 11, ('Gutierrez', 'Andrews'): 12, ('Sandoval', 'Short'): 13, ('Wade', 'Andrews'): 13, ('Smith', 'Campos'): 13, ('Gutierrez', 'Campos'): 15, ('Simpson', 'Clark'): 15, ('Short', 'Simpson'): 16, ('Wade', 'Campos'): 16, ('Smith', 'Clark'): 20, ('Sandoval', 'Wade'): 21, ('Short', 'Andrews'): 21, ('Sandoval', 'Gutierrez'): 22, ('Gutierrez', 'Clark'): 22, ('Wade', 'Clark'): 23, ('Sandoval', 'Smith'): 24, ('Short', 'Campos'): 24, ('Sandoval', 'Simpson'): 29, ('Short', 'Clark'): 31, ('Sandoval', 'Andrews'): 34, ('Sandoval', 'Campos'): 37, ('Sandoval', 'Clark'): 44}
Cặp có giá trị chênh lệch nhở nhất:  (('Wade', 'Gutierrez'), 1)
Tập hợp có giá trị duy nhất:  {'Sandoval', 'Smith', 'Wade', 'Simpson', 'Gutierrez', 'Short', 'Campos', 'Andrews', 'Clark'}

## Day 11 - List, Dictionary & Set Advanced Exercises

### Bài 1: Kiểm tra phần tử trùng lặp
Mô tả đề: Cho một mảng số nguyên nums, hãy xác định xem mảng có chứa bất kỳ phần
tử nào xuất hiện nhiều hơn một lần hay không. Trả về True nếu tồn tại ít nhất một phần
tử trùng lặp, và False nếu tất cả các phần tử đều khác nhau.

In [32]:
list_data = [1, 2, 2, 3, 1, 4, 5, 6, 5, 3, 6, 5, 7, 4, 4, 4, 5, 1, 10, 9]
list_data1 = [1, 2, 3, 4, 5]
def contains_duplication_set(data):
    """
    Method to find any duplication in data
    :param data: list type
    :return: True if duplicated
    """
    return True if len(set(data)) != len(data) else False

def contains_duplication_dict(data):
    """
    Method to find any duplication in data
    :param data: list type
    :return: True if duplicated
    """
    freq_dict = frequency_dictionary(data)
    for i, j in freq_dict.items():
        if j > 1:
            return True
            break
    return False
 
print('Có ký tự trùng lặp với cách dùng set') if contains_duplication_set(list_data) else print('Không có ký tự trùng lặp')
print('Có ký tự trùng lặp với cách dùng dict') if contains_duplication_dict(list_data1) else print('Không có ký tự trùng lặp')

Có ký tự trùng lặp với cách dùng set
Không có ký tự trùng lặp

### Bài 2: Nhóm các chuỗi đảo chữ
Mô tả đề: Cho một mảng các chuỗi strs, hãy gom các chuỗi là đảo chữ của nhau (các chuỗi
có cùng tập hợp ký tự với số lần xuất hiện như nhau) thành từng nhóm. Trả về danh sách
các nhóm, trong đó mỗi nhóm là một danh sách các chuỗi đảo chữ. Thứ tự của các nhóm và
chuỗi trong nhóm không quan trọng.

In [63]:
# Cách 1: Dùng thuật toán ngây thơ (Naive algorythm)
def anagram1(str1, str2):
    """
    Find similarity of two string
    :param str1: first string
    :param str2: second string
    :return: True or False
    """
    if (str1 == '' and str2 !='') or (str1 != '' and str2 == ''): return False
    elif (len(str1) == len(str2) == 1) and (str1 != str2): return False
    elif len(str1) != len(str2): return False
    else:
        count = 0 # Đếm số ký tự trùng nhau
        # Kiểm tra số ký tự, nếu trùng nhau hết thì tương đồng
        for i in str1:
            if i in str2:
                count += 1
        return False if count != len(str1) else True
    return True

# Cách 2: Dùng sorted để sắp xếp chữ
def anagram2(str1, str2):
    return sorted(str1) == sorted(str2)

def group_anagrams(strs):
    """
    Group all anagram sring
    :param strs: list of strings
    :return: list of group anagram
    """
    anagram_dict = {}
    for str in strs:
        sorted_key = ''.join(sorted(str)) # Chú ý cú pháp quan trọng này trong chuỗi (Gọi là dấu ấn)
        if sorted_key in anagram_dict:
            anagram_dict[sorted_key].append(str)
        else:
            anagram_dict[sorted_key] = [str]
    
    return list(anagram_dict.values())

In [65]:
strs = ['eat', 'tea', 'tan', 'ate', 'nat', 'bat', '', 'a', 'a', '','b']
group_anagrams(strs)

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat'], ['', ''], ['a', 'a'], ['b']]

### Bài 3: Tìm cặp số có tổng bằng đích
Mô tả đề: Cho một mảng số nguyên nums và một số nguyên target, hãy tìm và trả về
chỉ số của hai phần tử trong mảng sao cho tổng của chúng bằng target. Giả định rằng mỗi
trường hợp chỉ có duy nhất một cặp giải pháp, và không được sử dụng cùng một phần tử
hai lần. Thứ tự các chỉ số trong kết quả không quan trọng.
Input: nums = [2, 7, 11, 15], target = 9

In [87]:
def two_sum(nums, target):
    """
    
    :param nums: 
    :param target: 
    :return: 
    """
    sum_dict = {i: v for i, v in enumerate(nums)}
    sum_list = []
    for i, v in enumerate(nums):
        value = target - v
        if value in sum_dict.values():
            sum_list.append(i)
        else:
            sum_dict[i] = v
    
    return sum_list

In [89]:
nums = [2, 7, 11, 15, 25, 25]
two_sum(nums, 50)

[4, 5]